@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
body {
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

#toolbar {
  display: none !important;
}
/* Font sizes */

.font-6 {
  font-size: 6px !important;
}

.font-8 {
  font-size: 8px !important;
}

.font-10 {
  font-size: 10px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-22 {
  font-size: 22px !important;
}

.font-24 {
  font-size: 24px !important;
}

.font-28 {
  font-size: 28px !important;
}

.font-30 {
  font-size: 30px !important;
}

.font-32 {
  font-size: 32px !important;
}

.font-36 {
  font-size: 36px !important;
}

.font-40 {
  font-size: 40px !important;
}

.font-48 {
  font-size: 48px !important;
}

.font-50 {
  font-size: 50px !important;
}

.font-52 {
  font-size: 52px !important;
}

.font-56 {
  font-size: 56px !important;
}

.font-60 {
  font-size: 60px !important;
}

/* font weights */
.font-300 {
  font-weight: 300 !important;
}

.font-400 {
  font-weight: 400 !important;
}

.font-500 {
  font-weight: 500 !important;
}

.font-600 {
  font-weight: 600 !important;
}

.font-700 {
  font-weight: 700 !important;
}

.font-800 {
  font-weight: 800 !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right !important;
}

.pointer {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

a {
  text-decoration: none !important;
}

/* examples/custom-styling.css */
.customOverlay {
  background: rgba(36, 123, 160, 0.7);
}
/* .customModal {
  background: #b2dbbf;
  max-width: 500px;
  width: 100%;
} */

.react-responsive-modal-modal {
  background: #ffffff;
  /* Default/gray/100 */

  border: 1px solid #f3f4f6;
  /* /drop-shadow/small */

  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  width: 400px;
  padding: 0 !important;
}

.imageContainer {
  width: 80%;
  position: relative;
}

.imageContainer img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

/* Muiable scrollbar */

/* width */
.MuiTableContainer-root::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

/* Track */
.MuiTableContainer-root::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.MuiTableContainer-root::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.MuiTableContainer-root::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* custom chat scroll */
.chat_scroll_container::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

/* Track */
.chat_scroll_container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.chat_scroll_container::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.chat_scroll_container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* React select styles */
.css-1u9des2-indicatorSeparator {
  display: none;
}

/* Material Ui Popover */
.css-1akhczf-MuiPaper-root-MuiPopover-paper {
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.15),
    0px 1px 2px rgba(16, 24, 40, 0.1);
}

/* React calendar styles */
.react-calendar {
  border: none !important;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  background: #ffffff;
}

.react-pdf__Document {
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-pdf__Page {
  min-width: 0 !important;
  min-height: 0 !important;
  height: 100% !important;
}

.react-pdf__Page canvas {
  width: auto !important;
  height: 100% !important;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(11, 20, 26, 0.15);
}

.react-pdf__Page__annotations {
  display: none;
}

@media screen and (max-width: 1100px) {
  .react-responsive-modal-modal {
    width: 950px !important;
  }
}

@media screen and (max-width: 900px) {
  .react-responsive-modal-modal {
    width: 750px !important;
  }
}

@media screen and (max-width: 780px) {
  .react-responsive-modal-modal {
    width: 700px !important;
  }
}

@media screen and (max-width: 450px) {
  .react-responsive-modal-modal {
    width: 350px !important;
  }
}

@media screen and (max-width: 350px) {
  .react-responsive-modal-modal {
    width: 275px !important;
  }
}

@media screen and (max-width: 300px) {
  .react-responsive-modal-modal {
    width: 250px !important;
  }
}
