.messagesContainer,
.mobileScreenMessagesContainer {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.mobileScreenMessagesContainer {
  display: none;
}

.messagesRightSection {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.messageNoSelectedChat {
  width: 100%;
  height: calc(100vh - 200px);
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 8px;

  margin-top: 20px;
}

.messagesChatBoard {
  width: 100%;
  height: calc(100vh - 200px);
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 8px;

  margin-top: 20px;
}

.messagesLeftSection {
  margin-top: 76px;
  width: 30%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatListsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #eaecf0;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.1),
    7px 0px 4px rgba(117, 171, 242, 0.08);
  border-radius: 8px;
}

.chatListChatEachChat {
  box-sizing: border-box;
  min-height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 10px 16px 15px;
  border-bottom: 1px solid rgba(107, 115, 122, 0.12);
  cursor: pointer;
  width: 100%;
}

.chatListChatEachChat:hover {
  background: #e9f1fd;
}

.activeChatListChatEachChat {
  background: #e9f1fd;
}

.chatListChatName {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #353f50;
}

.chatListChatLastMsg {
  width: 119px;
  height: 14px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;

  /* letter-spacing: -0.01em; */

  color: #353f50;

  flex: none;
  order: 1;
  flex-grow: 0;

  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.chatListMessageCount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13px;
  height: 13px;
  background: #1a73e8;
  border-radius: 50%;

  flex: none;
  order: 1;
  flex-grow: 0;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 11px;
  letter-spacing: -0.01em;
  color: #ffffff;
}

@media screen and (max-width: 800px) {
  .messagesContainer {
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
    margin-top: 20px;
    display: none;
  }

  .mobileScreenMessagesContainer {
    display: flex;
  }

  .messagesRightSection {
    /* display: none; */
    width: 100%;
  }

  .messagesLeftSection {
    margin-top: 0px;
    width: 100%;
  }
}
