.pageHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pageHeaderRightContainer {
  display: flex;
  align-items: center;
}

.searchIconWrapper {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 12px;
  width: 216px;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  transition: width 0.5s ease-in-out;
}

.searchIconWrapper input {
  border: none !important;
  outline: none !important;
  margin-left: 8px;
  background: inherit;
}

.searchIconWrapper input::placeholder {
  color: #b5b7c0;
  font-size: 14px;
  font-weight: 400;
}

.mobileIconContainer {
  display: none;
}

.optionWrapper {
  transition: 0.5s;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.optionWrapper:hover {
  background: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 992px) {
  .mobileIconContainer {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .searchIconWrapper {
    display: none;
  }
}

.weeklyUpdatesContainer {
  background: linear-gradient(
      81.62deg,
      rgba(49, 56, 96, 0.5) 2.25%,
      rgba(21, 25, 40, 0.5) 79.87%
    ),
    url("../../public/assets/images/weekly_updates_bg.svg");
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 12px 20px;
}
