.headerGroupName {
  /* width: 132px; */
  height: 33px;
  margin: 0;
  padding: 0;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.01em;
  color: #353f50;
}

.chatDescription {
  min-width: 39px;
  height: 14px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.01em;
  color: #09b00c;
  margin: 0;
  padding: 0;
}

.mobileArrowBackButton {
  display: none;
}

.headerAvatar {
  width: 61px;
  height: 61px;
}

.headerMembersCount {
  /* width: 89px; */
  /* height: 22px; */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #353f50;
}

@media screen and (max-width: 900px) {
  .mobileArrowBackButton {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .headerGroupName {
    /* // width: 100px; */
    height: 33px;
    font-weight: 600;
    font-size: 16px;
  }

  .headerMembersCount {
    font-weight: 400;
    font-size: 12.5px;
  }

  .headerAvatar {
    width: 48px;
    height: 48px;
  }
}
